[Unit]
Description=frps daemon

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/frps -c /etc/frp/frps.ini
ExecReload=/usr/bin/frps reload -c /etc/frp/frps.ini

[Install]
WantedBy=multi-user.target
